
     table {
      border-width: thick;
      }
      body {
          background-image: url("background.png");
         text-align: center;
         font-family: "Arial";
      }
      p {
          font-size: 23px;
         font-weight: bold;
      }


      a {
          margin-top: 10px;
          text-decoration: none;
          padding: 7px;
          display: inline-block;
          margin-bottom: 2px;
          color: white;
          font-family: Arial;
          font-weight: bold;
          background-color: #8080ff;
          border-radius: 5px;
          box-shadow: 0px 5px 10px black;
          transition-duration: 0.3s;
      }
      
      a:hover {
          border: 2px solid white;
          box-shadow: 0px 8px 10px black;
          transform: scale(1.02);
              -webkit-transform: scale(1.02);
              -moz-transform: scale(1.02);
      }

      a:visited { color: none; }
      .a {
          margin: auto;
          width: 1054px;
          height: 654px;
          box-shadow: 0 0 10px;
          border: 5px solid white;
          border-radius: 10px;
          object-fit: cover;
          background-color:white;
      }
      .b {
          background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
          background-size: cover;
          border: 5px solid white;
          border-radius: 10px;
          object-fit: cover;
          padding: 50px;
          box-shadow: 0px 0px 15px;
      }

      .c {
          border-radius: 10px;
          background-color: white;
          box-shadow: 0px 0px 5px;
      }
