p {
    color: red;
    font-size: 22pt;
     }
    
    p#gruby_wolny {
    color: green;
    font-size: 17pt;
    font-weight: bold;
    }
    
    #dlawszystkich_wolny {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
    }
/*Lukasz Wolny 11.02.2022*/