h1 {
    color: Black;
    text-shadow: 1px 1px gray;
    font-size: 25px;
}

p {
    color: rgb(7, 7, 85);
    text-shadow: 1px 1px gray;
    font-size: 15px;
}

body {
    background-color: silver;
}